@import url("");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-size: 1.6rem;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 4rem;
    justify-content: center;
}
.search{
    display: flex;
    width: 50%;
    max-width: 60rem;

}
.search input{
    padding: .5rem 1rem;
    width: 100%;
}
.search input :focus-visible{
    outline: auto purple;
}
.primary-btn {
    background-color: purple;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    
}
.primary-btn:hover {
    background-color: black;
}

.primary-btn:active {
    background-color: purple
}

/*for carts*/
.profile-box{
    padding: 4rem 8rem;
box-shadow: 0 0 1rem rgb(0,0,0,0.1);
 max-width: 90rem;
 transition: 0.5s ease-in; 
}
.profile-box:hover{
    transform: rotate(-2deg) scale(1.01);
      transition: 0.5s ease-in;

}
.top-section{
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
    gap:1rem;
}

.left h1{
   font-size: 1.6rem;
}
.top-section button{
    align-self: center;
}

.avatar {
    height: 10rem;
    width: 10rem;

}
.avatar img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    
}
.status{
    display: flex;
    gap: 6rem;
    margin-top: 3rem;
}
